

.hani-title {
    display: flex;
    justify-content: center;
    color: #141414;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 40px;

}
.hani-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.hani-card {background-color: #fff;
    width: 21.25em;
    box-shadow:0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 0px;
    padding: 25px;
    margin: 25px;
}

.hani-icon{
    text-align: center;
}
img{
    max-width: 100px;
    max-height: 100px;
}
.hani-info{ text-align: center;}
.hani-info h3{color:#00E670;
font-size: 1.5em;
font-weight: 700;
margin: 20px;
}